{% extends 'base.html.twig' %}

{% block title %}Gestions des photos de chatons{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
{#    <ul>#}
{#        {% for d in dossiers %}#}
{#            <li>#}
{#                <a href="{{ path('app_chatons', {'dossier': d.fileName}) }}">#}
{#                    {{ d.fileName }}#}
{#                </a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <h2>Ajouter un dossier</h2>#}
{#    {{ form(formulaire) }}#}
{% endblock %}
